@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 80%,
    rgba(178, 189, 255, 0.7047151624321604) 100%
  );
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
